<div class="flights">
  <div class="flight-header">
    <h2>Voos: </h2>
    <button routerLink="/cadastrarvoo" class="add-flight-btn">
      <img src="../../assets/icons/add.svg" alt="Adicionar">
      Adicionar voo</button>
  </div>

  <hr class="hr-flight">

  <div class="flight-filters">
    <div class="search input-filter">
      <input type="text">
      <button class="filter-btn">
        <img src="../../assets/icons/search.svg" alt="Buscar">
      </button>
    </div>
    <div class="input-filter">
      <input type="text">
      <button class="filter-btn">
        <img src="../../assets/icons/calendar.svg" alt="Filtrar por horário">
      </button>
    </div>
    <div class="input-filter">
      <input type="text">
      <button class="filter-btn">
        <img src="../../assets/icons/clock.svg" alt="Filtrar por dia">
      </button>
    </div>
    <button class="filter-medium-btn filter-btn">Filtrar</button>
  </div>

  <div class="flight-table">

    <ag-grid-angular class="ag-theme-balham" 
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [style.width]="width"
    [style.height]="height"
    [gridOptions]="gridOptions"
    [pagination]="pagination"
    [animateRows]="true"
    [headerHeight]= '50'
    [rowHeight] = '40'
    >
    </ag-grid-angular>
    
  </div>
  
</div>