<div class="flights">
  <div class="flight-header">
    <h2>Voos: </h2>
    <button routerLink="/cadastrar-voo" class="add-flight-btn">
      <img src="../../assets/icons/add.svg" alt="Adicionar">
      Adicionar voo</button>
  </div>

  <hr class="hr-flight">

  <div class="flight-filters">
    <div class="search input-filter">
      <input [(ngModel)]="destiny" placeholder="Destino" type="text">
        <img src="../../assets/icons/search.svg" alt="Buscar">
    </div>
    <div class="input-filter">
      <input [(ngModel)]="dateFlight" type="date">
    </div>
    <div class="input-filter">
      <input [(ngModel)]="timeFlight" type="time">
    </div>
    <button (click)="filter()" class="filter-medium-btn filter-btn">Filtrar</button>
  </div>

  <div class="flight-table">

    <ag-grid-angular class="ag-theme-balham" 
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [style.width]="width"
    [style.height]="height"
    [gridOptions]="gridOptions"
    [pagination]="pagination"
    [animateRows]="true"
    [headerHeight]= '50'
    [rowHeight] = '40'
    >
    </ag-grid-angular>
    
  </div>
  
</div>