<div class="login-container">
  <img class="background-login-left" src="../../assets/icons/circles_background_left.svg" alt="">
  <img class="background-login-right" src="../../assets/icons/circles_background_right.svg" alt="">
  <div class="login-content">
    <img class="login-logo" src="../../assets/images/logo_flying_easy.svg" alt="Flying Easy">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h3 class="login-title">SEJA BEM-VINDO!</h3>
      <div class="login-input-field">
        <label class="login-input-label">Email</label>
        <input [ngClass]="{'invalid-input': isInvalidEmail}" class="login-input" type="email" formControlName="email">
      </div>
      <div class="login-input-field">
        <label class="login-input-label">Senha</label>
        <input [ngClass]="{'invalid-input': isInvalidPassword}" class="login-input" type="{{seePassword ? 'text' : 'password'}}" formControlName="password">
        <img (click)="handlerInputType()" class="eye-icon"
          src="../../assets/icons/{{seePassword ? 'invisible_eye.png' : 'eye.png'}}" alt="">
      </div>
      <button class="login-access-btn">Acessar</button>
      <span class="login-password-forget-link">Esqueci a senha</span>
    </form>
  </div>
</div>