@import '../../assets/colors.scss';

.flight-save-container{
    padding: 80px 10%;
    width: 100%;
    height: 100vh;
}

.progress-bar-container{
    position: relative;
}

.progress-bar{
    position: relative;
    background-color: $dark-gray;
    height: 3px;
    z-index: 3;
    overflow: hidden;
}

.fill-progress-bar{
    position: absolute;
    bottom: -12px;
    background-color: $green;
    height: 20px;
    z-index: 2;
    animation-duration: 3s;
    animation-name: slide-step-1;
    transition: all .5s ease-in-out ;

}

.circle-step{
    z-index: 4;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: $dark-gray;
    border-color: #343434;
    bottom: -10px;
    overflow: hidden;

}

.step-1{
    left: 15%;
}

.step-2{
    left: 50%;
}

.step-3{
    left: 85%;
}


.circle-step-fill{
    background-color: $green;
    transition: all .7s ease-in-out ;
}

.flight-save-form{
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4%;
    border-radius: 5px;
    box-shadow: 0px 3px 7px 0px $dark-gray;
}

.form-btns{
    width: 70%;
    height: 10%;
    display: flex;
    flex-direction: row-reverse;
}

.advance-btn {
    background-color: $green;
}

.back-btn{
    background-color: $medium-blue;
    margin-right: 10px;
}

.form-btn{
    font-weight: bold;
    width: 120px;
    height: 35px;
    color: $white;
    bottom: 10%;
    right: 12%;
    border: none;
    transition: .35s;
    border-radius: 4px;
    transition: .35s;
}

.advance-btn:hover{
    background-color: $dark-green;
    cursor: pointer;
}

.back-btn:hover{
    background-color: $hover-blue;
    cursor: pointer;
}

.form-content-step-1, .form-content-step-2, .form-content-step-3{
    height: 50%;
    margin-bottom: 50px;
}


.form-content-step-1, .form-content-step-2, .form-content-step-3 > div{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.form-input{
    height: 60px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.form-input > input, select{
    margin-top: 6px;
    background-color: $light-gray;
    height: 35px;
    border-radius: 4px;
    width: 280px;
    padding: 0 15px;
    border: none;
}


.column-1{
    margin-right: 10%;
}

.show-inputs{
    display: flex;
}

.form-content-step-3 {
    width: 60%;
    display: flex;
}
.form-content-step-3 .column-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.form-content-step-3 .column-2, .column-3{
    display: flex;
    flex-direction: column;
}

.form-content-step-3 .column-2 input{
    margin-top: 6px;
    background-color: $light-gray;
    height: 35px;
    border-radius: 4px;
    width: 80px;
    padding: 0 15px;
    border: none;   
}

.form-content-step-3 .column-3 input{
    margin-top: 6px;
    background-color: $light-gray;
    height: 35px;
    border-radius: 4px;
    width: 100px;
    padding: 0 15px;
    border: none;   
}

.form-content-step-3 .column-1 span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin-top: 15px;
}

.form-content-step-3 .column-2 span, .column-3 span{
    margin-bottom: 15px;
}

.form-content-step-3 .column-2 input, .column-3 input{
    margin-bottom: 10px;
}

.invalid-input{
    animation: vibration 0.1s;
    animation-iteration-count: 3;
    color: $red;
    input{
        color: $red;
        border-color: $red;
        border: solid 1px;
    }
}

@keyframes vibration {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
  }