@import '../../assets/colors.scss';

.flight-save-container{
    padding: 80px 10%;
    width: 100%;
}

.progress-bar-container{
    position: relative;
}

.progress-bar{
    position: relative;
    background-color: $dark-gray;
    height: 5px;
    z-index: 3;
    overflow: hidden;
}

.fill-progress-bar{
    position: absolute;
    bottom: -12px;
    // width: 33%;
    background-color: $green;
    height: 20px;
    z-index: 2;
    animation-duration: 3s;
    animation-name: slide-step-1;
    transition: all .5s ease-in-out ;

}

.circle-step{
    z-index: 4;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: $dark-gray;
    border-color: #343434;
    bottom: -12px;
    overflow: hidden;

}

.step-1{
    left: 15%;
}

.step-2{
    left: 50%;
}

.step-3{
    left: 85%;
}


.circle-step-fill{
    background-color: $green;
    transition: all .7s ease-in-out ;
}