// blue
$dark-blue: #1F2A36;
$semi-dark-blue: #4B6584;
$medium-blue: #668BB7;

// Black
$black-text: #343434;

// Gray
$light-gray: #F1F1F1;
$dark-gray: #C4C4C4;

// White
$white: #FFFFFF;

// Green
$green: #26C378;

// Red
$red: #FF7373;