@font-face {
    font-family: openSansRegular;
    src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: openSansBold;
    src: url('./fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: openSansLight;
    src: url('./fonts/OpenSans-Light.ttf');
}

$font-regular: openSansRegular;
$font-light: openSansLight;
$font-bold: openSansBold;