@import './assets/colors.scss';
@import './assets/fonts.scss';

*{
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: $black-text;
    background-color: $white;
    margin: 0;
    padding: 0;
}